# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr

# Android build outputs
android/app/build/
android/.gradle/
android/build/
android/captures/

# Local env files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
